---
import { Image } from "astro:assets"
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import GrandpaLogo from "../assets/grandpa-logo.webp"
import { navlink } from "../consts";
import { Icon } from "astro-icon/components"
---

<header x-data="{open: window.innerWidth < 768 ? false : true}" class="w-full border-b-[1px] relative border-onyx-500 px-6 lg:px-0 mx-auto drop-shadow-2xl z-50 backdrop-blur-sm bg-onyx-950/20">
    <div class="max-w-screen-xl mx-auto py-6 flex items-center relative w-full">
        <div class="flex items-center gap-3">
            <Image class="rounded-full" src={GrandpaLogo} width={35} height={35} alt="grandpa logo" x-error="Image could not be loaded" /> <a class="text-xl font-bold leading-none" href="/">{SITE_TITLE}</a>
        </div>
        <nav aria-label="Primary" class="relative" x-show="open" :class="{'flex': open, 'hidden': !open}">
            <div class="ml-9 flex items-center gap-1 max-sm:flex-col max-sm:items-start max-sm:absolute max-sm:left-0 max-sm:top-0 max-sm:w-full max-sm:z-50" x-data="{ open: false }">
                {navlink.map((item) => item.children && item.children.length ? (
                    <div class="relative" x-data="{ open: false }">
						<button class="flex items-center font-semibold justify-center w-full px-4 py-2 rounded-md hover:bg-onyx-400/20 transitionAll" x-on:click="open = ! open">
                        {(item.text)}
						<Icon name={'chevron-down'} width={22} height={22} title="chevron down" x-bind:class="{'rotate-180': open, 'rotate-0': !open}" />

                    </button>
                    <div x-show="open" class="flex flex-col relative lg:absolute divide-solid divide-y-[1px] divide-onyx-400/20 bg-onyx-800 w-auto lg:min-w-48 p-1 top-0 lg:top-11 left-0 origin-center right-0 w-max rounded-md border border-onyx-500">
                        {item.children.map((sub) =>(
                            <HeaderLink class="px-4 py-2 rounded-md hover:bg-onyx-400/20 transitionAll" href={sub.url}>{sub.text}</HeaderLink>
                        ))}
                    </div>
					</div>
                ) : (
                    <HeaderLink
						class="px-4 py-2 rounded-md hover:bg-onyx-400/20 transitionAll"
                        href={item.url}
						x-data="{ isActive: false }"
						x-bind:class="{ 'rotate-45': isActive }"
						>
                        {item.text}
                    </HeaderLink>
                ))}
            </div>
        </nav>
		<button class="block absolute right-0 md:hidden lg:hidden" @click="open = ! open"><Icon name={'menu'} width={32} height={32} title="menu" /></button>
    </div>
</header>
