---
import { pwaInfo } from 'virtual:pwa-info';
import { type CollectionEntry} from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import SocialIcon from '../components/ui/SocialIcon.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { Icon } from 'astro-icon/components';
import "astro-breadcrumbs/breadcrumbs.css";
import "../styles/utils.scss";
import RelatedPost from '../components/RelatedPost.astro';
type Props = CollectionEntry<'posts'>['data'];

const {title, description, pubDate, minutesRead } = Astro.props;

---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<script src="/src/pwa.ts"></script>
    	{ pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
	</head>

	<body>
		<Header />
		<main class="max-w-screen-md w-full mx-auto my-auto lg:my-12 px-6 lg:px-0 flex flex-col">
			<section class="pb-9">
				<div class="pb-6 mb-6 border-b-[1px] border-slate-800 not-prose">
					<div class="py-5 text-slate-500">
						<p class="flex items-center gap-2 text-sm md:text-base lg:text-base font-medium"><Icon name="date" /><FormattedDate date={pubDate} /></p>
						<p>{minutesRead}</p>
					</div>
					<h1 class="text-4xl font-bold">{title}</h1>
				</div>
				<article class="w-full">
					<slot />
				</article>
			</section>
			<SocialIcon />
			<RelatedPost/>
		</main>
		<Footer />
	</body>
</html>
