---
const labelStyle = "flex items-center gap-3 cursor-pointer has-[:checked]:text-lime-400 has-[:checked]:ring-lime-200"
const inputStyle = "size-4 appearance-none focus:ring-lime-500 checked:bg-lime-500 accent-lime-500 focus:accent-lime-500 ring-offset-lime-200 ring-2 rounded-full"
---
<div class="grid">
    <div class="grid gap-3 mt-5">
        <label for="google" class={labelStyle}>
            <input 
            type="checkbox"
            id="google"
            class={inputStyle}
            aria-label="input category"
            aria-checked="false"
            
             />
            <span>Google</span>
        </label>
        <label for="seo" class={labelStyle}>
            <input 
            type="checkbox"
            id="seo"
            class={inputStyle}
            aria-label="input category"
            aria-checked="false"
            
             />
            <span>SEO</span>
        </label>
        <label for="socialmedia" class={labelStyle}>
            <input 
            type="checkbox"
            id="socialmedia"
            class={inputStyle}
            aria-label="input category"
            aria-checked="false"
            
             />
            <span>Social Media</span>
        </label>
    </div>
    <div class="flex items-center gap-3 mt-5" >
        <input type="submit" value="Submit" class="bg-onyx-500 w-max py-3 px-6 rounded-lg border border-onyx-400/20 cursor-pointer hoverS" />
    </div>
</div>